# Importing and Manipulating Data in Python by `Mr. Harshit Dawar`!

## Using Numpy

In [1]:
import numpy as np

In [2]:
# Using loadtxt() function of munpy to illustrate loading text files.
# dtype represents the data-type of the file to be imported.

data = np.loadtxt("rp.txt", dtype="str", delimiter=",")

In [3]:
data

array(['Generally',
       ' solution to Travelling Salesman Problem(TSP) using any algorithm results only in a single path which is optimal path according the algorithm. This can be sometimes not the best path for the user',
       ' because it is possible that the user wants to visit any other city first irrespective of some increase in cost for the travelling route. So',
       ' the proposed algorithm for the TSP will display all the possible paths in a given scenario with their respective costs using dynamic programming. Based on the cost and user preference',
       ' a user can select any of the path displayed.'], dtype='<U195')

In [4]:
# Comments here is to ensure that by which symbol comments starts

data = np.loadtxt("rp.txt", dtype="str", skiprows = 1 , comments= "#")

In [5]:
data

array(['Generally,', 'solution', 'to', 'Travelling', 'Salesman',
       'Problem(TSP)', 'using', 'any', 'algorithm', 'results', 'only',
       'in', 'a', 'single', 'path', 'which', 'is', 'optimal', 'path',
       'according', 'the', 'algorithm.', 'This', 'can', 'be', 'sometimes',
       'not', 'the', 'best', 'path', 'for', 'the', 'user,', 'because',
       'it', 'is', 'possible', 'that', 'the', 'user', 'wants', 'to',
       'visit', 'any', 'other', 'city', 'first', 'irrespective', 'of',
       'some', 'increase', 'in', 'cost', 'for', 'the', 'travelling',
       'route.', 'So,', 'the', 'proposed', 'algorithm', 'for', 'the',
       'TSP', 'will', 'display', 'all', 'the', 'possible', 'paths', 'in',
       'a', 'given', 'scenario', 'with', 'their', 'respective', 'costs',
       'using', 'dynamic', 'programming.', 'Based', 'on', 'the', 'cost',
       'and', 'user', 'preference,', 'a', 'user', 'can', 'select', 'any',
       'of', 'the', 'path', 'displayed.'], dtype='<U12')

In [6]:
# genfromtxt() function can be used to handle multiple data types by assigning dtype=None,
# and names = True for telling that the dataset contains header
data = np.genfromtxt("rp.txt", dtype="str", delimiter=",")

In [7]:
data

array(['Generally',
       ' solution to Travelling Salesman Problem(TSP) using any algorithm results only in a single path which is optimal path according the algorithm. This can be sometimes not the best path for the user',
       ' because it is possible that the user wants to visit any other city first irrespective of some increase in cost for the travelling route. So',
       ' the proposed algorithm for the TSP will display all the possible paths in a given scenario with their respective costs using dynamic programming. Based on the cost and user preference',
       ' a user can select any of the path displayed.'], dtype='<U195')

In [18]:
# np.recfromtxt/np.recfromcsv, its default dtype =None, names=True, and delimiter = â€œ,"

print(np.recfromtxt("rp.txt", encoding=None))

['Generally,' 'solution' 'to' 'Travelling' 'Salesman' 'Problem(TSP)'
 'using' 'any' 'algorithm' 'results' 'only' 'in' 'a' 'single' 'path'
 'which' 'is' 'optimal' 'path' 'according' 'the' 'algorithm.' 'This' 'can'
 'be' 'sometimes' 'not' 'the' 'best' 'path' 'for' 'the' 'user,' 'because'
 'it' 'is' 'possible' 'that' 'the' 'user' 'wants' 'to' 'visit' 'any'
 'other' 'city' 'first' 'irrespective' 'of' 'some' 'increase' 'in' 'cost'
 'for' 'the' 'travelling' 'route.' 'So,' 'the' 'proposed' 'algorithm'
 'for' 'the' 'TSP' 'will' 'display' 'all' 'the' 'possible' 'paths' 'in'
 'a' 'given' 'scenario' 'with' 'their' 'respective' 'costs' 'using'
 'dynamic' 'programming.' 'Based' 'on' 'the' 'cost' 'and' 'user'
 'preference,' 'a' 'user' 'can' 'select' 'any' 'of' 'the' 'path'
 'displayed.']

## Using Pandas

In [15]:
import pandas as pd

### Using Series

In [20]:
data_series = pd.Series(["a", "b", "c","d","e"])

In [21]:
data_series

0    a
1    b
2    c
3    d
4    e
dtype: object

In [22]:
data_series_with_Index = pd.Series(["a", "b", "c", "d", "e"], index=[1,2,3,4,5])

In [23]:
data_series_with_Index

1    a
2    b
3    c
4    d
5    e
dtype: object

### Using dataframes

In [26]:
data = pd.DataFrame(["1","2","3","4","5"])
data

   0
0  1
1  2
2  3
3  4
4  5

In [28]:
data_with_index = pd.DataFrame(["1","2","3","4","5"], index=[1,2,3,4,5])
data_with_index

   0
1  1
2  2
3  3
4  4
5  5

In [30]:
data_with_index_with_columns = pd.DataFrame(["1","2","3","4","5"], index=[1,2,3,4,5], columns=["Values"])
data_with_index_with_columns

  Values
1      1
2      2
3      3
4      4
5      5

### Accessing data through links

In [31]:
data = pd.read_csv("https://raw.githubusercontent.com/HarshitDawar55/Data-Science-Training/master/Day_3/car_data.csv")

In [33]:
data

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

 ### Accessing data through system path

In [35]:
data = pd.read_csv("car_data.csv")
data

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

### Exploring Data

In [38]:
data.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [39]:
data.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes